// Global variable style
@charset "UTF-8";
$font_bold: 600;
$font_medium: 500;
$font_normal: 500;
$bg:#F7F7F7;
$mc:#DE3B31;
$space: 0.4;
$wind: 0.32;
$colorDanger: #ff4242;
$colorBorder:#e9e9e9;
$color_theme: #fff;
$color_main: #404040;
$color_bg: #f3f6f8;
$color_title: #121212;
$color_desc: #404040;
$color_sub: #9b9b9b;
$color_wait: #7289a5;
$color_void: #fff;
$color_primary: #69ddd3b7;
$color_danger: #ff4242;
$color_success: #52C41A;
$color_warning: #f8e71c;
$color_border: #e9e9e9;
$color_tab_bar: #fafafa;
$xs: 0.08rem;
$sm: 0.16rem;
$md: 0.32rem;
$lg: 0.64rem;
$space: 0.4rem;
$space_raw: 0.4;
$wind: 0.32rem;
$wind_raw: 0.32;
$distance: 0.16rem;
$bottom: 0.4rem;
